In [1]:
#Let's try our first code in python
#print() function gives you the output of what you give in parenthesis()
#for eg ('My first python code') 
# enter key Shift+Enter
print('My first python code')

My first python code

Congrats for first python code!!!

In [2]:
print(3)

3

# There different type of objects in python: 
## String (sentences), Integers (4,6,8) or floats(5.66,0.1235, 1.2)

In [6]:
#type() gives the type of expression in python
#for eg type(8), gives integer
type(8)

int

In [7]:
type(5.23)

float

In [8]:
type('My first python code')

str

In [9]:
type('My first Python code')

str

In [10]:
type(-1)

int

## Changing type of the object: typecasting

In [17]:
# for eg 8 is an integer, you  can covert integer into float
type(8) #gives integer

int

In [18]:
float(8)#now converted into float

8.0

In [20]:
type(float(8))

float

Try changing codes and Practice

In [2]:
#converting float into an integer, use int()
int(5.7)

5

In [3]:
#Numbers in string formats can also be typecastes
int('1')

1

In [4]:
float('5.2')

5.2

In [5]:
#converting numbers into string, use str()
str(235)

'235'

### Boolean is another object type

It has two values: True or T and False or F

In [7]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
#Boolean data can also be typecasted
int(True)

1

In [11]:
int(False)

0

In [12]:
bool(1)

True

In [13]:
bool(0)

False

In [15]:
float(True)

1.0

In [17]:
bool(1.0)

True

## Type of Expression

In [19]:
type(8+2)

int

In [20]:
type(5/2)

float

In [21]:
type(5//2)

int

In above expample. 5/2 gave a float type while 5//2 gave and integer. 
try print() for both expression and make out the difference

In [22]:
print(5/2)

2.5

In [23]:
print(5//2)

2

# Expressions

Python can run various operations like simple arithmetic mathematical operations

In [25]:
56+89 #Addition

145

In [26]:
789-45 #Subtraction

744

In [27]:
66/6 #Division

11.0

NOTE: Python 3 gives division output in float type

In [28]:
#Decimal places can be round off by round() function
25/6

4.166666666666667

In [29]:
round(25/6, 3)

4.167

In [31]:
round(25/6,2)

4.17

In [32]:
round(56.465132165789789789,5)

56.46513

In [33]:
#Multiplication is by *

8*8

64

In [35]:
#Python follows conventional mathematical rules for combined operations.
56+89*3
#89*3 then add 56

323

In [36]:
#If parentheis is used, operation in parenthesis will be performed first

In [37]:
(56+89)*3

435

# Creating variables

In [38]:
# let's create a some  variables  
x= 3

In [39]:
print(x)

3

In [42]:
y= ('Cat', 'car')

In [43]:
print(y)

('Cat', 'car')

In [44]:
z= 56+8+78

In [45]:
print(z)

142

In [48]:
#We can perform opreations on previously created variables
a= z/3
print(a)

47.333333333333336